In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('13026206-a816-4e28-b1f9-41c964a83c05_Data.csv')

In [4]:
df

,Series Name,Series Code,Country Name,Country Code,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,United Kingdom,GBR,7.02542460093701,7.33247132682362,7.06490255865771,6.42159819144514,6.14854495774701,5.77474166798541,5.54626594443601,5.39870813789348,..,..
1,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,France,FRA,5.10431227537594,5.12231119022055,5.10055617017218,4.59237682939366,4.66608659650847,4.68661220239091,4.72757562163375,4.61924120513374,..,..
2,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,Germany,DEU,9.29779081983736,9.44994992466537,9.64255894664068,9.10678232951564,9.08729093927033,9.0730063894536,8.85829369906254,8.55838981170216,..,..
3,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,Japan,JPN,9.48244975866952,9.81140649852306,9.89367962650555,9.58405355290864,9.29283236721435,9.22394197021634,9.08563914300274,8.7422577098865,..,..
4,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,United States,USA,16.599403740534,15.7711446187591,16.1029578354008,16.0263790723251,15.535342110601,15.1317468158119,14.8058824221278,15.2408745833286,..,..
5,GDP (current US$),NY.GDP.MKTP.CD,United Kingdom,GBR,2659882040934.51,2704017284861.91,2783251090198.95,3065521109394.94,2932784751846.27,2693247611031.81,2662484018735.82,2857316524862.61,2830813507746.87,2707743777173.91
6,GDP (current US$),NY.GDP.MKTP.CD,France,FRA,2861408170264.6,2683825225092.63,2811077725703.59,2852165760630.27,2438207896251.84,2471285607081.72,2588740901639.81,2786502569559.77,2715518274227.45,2603004395901.95
7,GDP (current US$),NY.GDP.MKTP.CD,Germany,DEU,3744408602683.94,3527344944139.83,3732743446218.92,3883920155292.26,3356235704119.75,3467498002104.33,3673506280844.4,3961831911429.22,3861123558039.21,3806060140124.52
8,GDP (current US$),NY.GDP.MKTP.CD,Japan,JPN,6157459594823.72,6203213121334.12,5155717056270.83,4850413536037.84,4389475622588.97,4922538141454.62,4866864409657.68,4954806619995.19,5064872875604.59,..
9,GDP (current US$),NY.GDP.MKTP.CD,United States,USA,15542581104000,16197007349000,16784849196000,17527163695000,18238300569000,18745075687000,19542979183000,20611860934000,21433224697000,20936600000000
10,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,United Kingdom,GBR,80.9512195121951,80.9048780487805,81.0048780487805,81.3048780487805,80.9560975609756,81.1560975609756,81.2560975609756,81.2560975609756,81.2048780487805,..
11,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,France,FRA,82.1146341463415,81.9682926829268,82.219512195122,82.719512195122,82.3219512195122,82.5731707317073,82.5756097560976,82.7243902439024,82.5780487804878,..
12,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,Germany,DEU,80.4365853658537,80.5390243902439,80.490243902439,81.090243902439,80.6414634146341,80.990243902439,80.9926829268293,80.8926829268293,80.9414634146342,..
13,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,Japan,JPN,82.5912195121951,83.0960975609756,83.3319512195122,83.5878048780488,83.7939024390244,83.9848780487805,84.099756097561,84.2109756097561,84.3563414634146,..
14,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,United States,USA,78.6414634146341,78.7414634146342,78.7414634146342,78.8414634146341,78.690243902439,78.5390243902439,78.5390243902439,78.6390243902439,78.7878048780488,..
15,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,United Kingdom,GBR,41060,41690,42730,44400,44340,42940,41280,41740,42130,..
16,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,France,FRA,44350,43380,43780,43320,41100,39070,38270,41080,42290,..
17,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,Germany,DEU,47220,46530,47190,47620,45750,44250,43650,47140,48550,46980
18,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,Japan,JPN,46880,49480,48280,43950,38840,37860,38490,41150,41580,..
19,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,United States,USA,50580,52760,53930,55840,56740,57270,59460,63510,65910,..
20,"School enrollment, primary (% gross)",SE.PRM.ENRR,United Kingdom,GBR,104.425712585449,106.246078491211,107.111999511719,102.255546569824,101.925270080566,101.33521270752,101.154556274414,100.995552062988,..,..
21,"School enrollment, primary (% gross)",SE.PRM.ENRR,France,FRA,102.691101074219,102.523162841797,102.276443481445,101.280349731445,101.989639282227,102.260429382324,102.417221069336,102.874000549316,..,..
22,"School enrollment, primary (% gross)",SE.PRM.ENRR,Germany,DEU,102.46656036377,101.614196777344,100.838249206543,100.538642883301,101.667449951172,102.677558898926,104.022361755371,103.894561767578,..,..
23,"School enrollment, primary (% gross)",SE.PRM.ENRR,Japan,JPN,..,..,..,..,..,..,..,..,..,..
24,"School enrollment, primary (% gross)",SE.PRM.ENRR,United States,USA,99.3898773193359,99.1653213500977,99.455436706543,99.6733779907227,100.299911499023,101.362861633301,101.821441650391,101.256561279297,..,..
25,"Population, total",SP.POP.TOTL,United Kingdom,GBR,63258810,63700215,64128273,64602298,65116219,65611593,66058859,66460344,66836327,67215293
26,"Population, total",SP.POP.TOTL,France,FRA,65342789,65659814,65998685,66312067,66548272,66724104,66918020,67101930,67248926,67391582
27,"Population, total",SP.POP.TOTL,Germany,DEU,80274983,80425823,80645605,80982500,81686611,82348669,82657002,82905782,83092962,83240525
28,"Population, total",SP.POP.TOTL,Japan,JPN,127833000,127629000,127445000,127276000,127141000,126994511,126785797,126529100,126264931,125836021
29,"Population, total",SP.POP.TOTL,United States,USA,311583481,313877662,316059947,318386329,320738994,323071755,325122128,326838199,328329953,329484123
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Last Updated: 07/30/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
f=df.T

In [6]:
f

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
Series Name,CO2 emissions (metric tons per capita),CO2 emissions (metric tons per capita),CO2 emissions (metric tons per capita),CO2 emissions (metric tons per capita),CO2 emissions (metric tons per capita),GDP (current US$),GDP (current US$),GDP (current US$),GDP (current US$),GDP (current US$),...,"Population, total","Population, total","Population, total","Population, total","Population, total",NaN,NaN,NaN,Data from database: World Development Indicators,Last Updated: 07/30/2021
Series Code,EN.ATM.CO2E.PC,EN.ATM.CO2E.PC,EN.ATM.CO2E.PC,EN.ATM.CO2E.PC,EN.ATM.CO2E.PC,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,...,SP.POP.TOTL,SP.POP.TOTL,SP.POP.TOTL,SP.POP.TOTL,SP.POP.TOTL,NaN,NaN,NaN,NaN,NaN
Country Name,United Kingdom,France,Germany,Japan,United States,United Kingdom,France,Germany,Japan,United States,...,United Kingdom,France,Germany,Japan,United States,NaN,NaN,NaN,NaN,NaN
Country Code,GBR,FRA,DEU,JPN,USA,GBR,FRA,DEU,JPN,USA,...,GBR,FRA,DEU,JPN,USA,NaN,NaN,NaN,NaN,NaN
2011 [YR2011],7.02542460093701,5.10431227537594,9.29779081983736,9.48244975866952,16.599403740534,2659882040934.51,2861408170264.6,3744408602683.94,6157459594823.72,15542581104000,...,63258810,65342789,80274983,127833000,311583481,NaN,NaN,NaN,NaN,NaN
2012 [YR2012],7.33247132682362,5.12231119022055,9.44994992466537,9.81140649852306,15.7711446187591,2704017284861.91,2683825225092.63,3527344944139.83,6203213121334.12,16197007349000,...,63700215,65659814,80425823,127629000,313877662,NaN,NaN,NaN,NaN,NaN
2013 [YR2013],7.06490255865771,5.10055617017218,9.64255894664068,9.89367962650555,16.1029578354008,2783251090198.95,2811077725703.59,3732743446218.92,5155717056270.83,16784849196000,...,64128273,65998685,80645605,127445000,316059947,NaN,NaN,NaN,NaN,NaN
2014 [YR2014],6.42159819144514,4.59237682939366,9.10678232951564,9.58405355290864,16.0263790723251,3065521109394.94,2852165760630.27,3883920155292.26,4850413536037.84,17527163695000,...,64602298,66312067,80982500,127276000,318386329,NaN,NaN,NaN,NaN,NaN
2015 [YR2015],6.14854495774701,4.66608659650847,9.08729093927033,9.29283236721435,15.535342110601,2932784751846.27,2438207896251.84,3356235704119.75,4389475622588.97,18238300569000,...,65116219,66548272,81686611,127141000,320738994,NaN,NaN,NaN,NaN,NaN
2016 [YR2016],5.77474166798541,4.68661220239091,9.0730063894536,9.22394197021634,15.1317468158119,2693247611031.81,2471285607081.72,3467498002104.33,4922538141454.62,18745075687000,...,65611593,66724104,82348669,126994511,323071755,NaN,NaN,NaN,NaN,NaN
2017 [YR2017],5.54626594443601,4.72757562163375,8.85829369906254,9.08563914300274,14.8058824221278,2662484018735.82,2588740901639.81,3673506280844.4,4866864409657.68,19542979183000,...,66058859,66918020,82657002,126785797,325122128,NaN,NaN,NaN,NaN,NaN
2018 [YR2018],5.39870813789348,4.61924120513374,8.55838981170216,8.7422577098865,15.2408745833286,2857316524862.61,2786502569559.77,3961831911429.22,4954806619995.19,20611860934000,...,66460344,67101930,82905782,126529100,326838199,NaN,NaN,NaN,NaN,NaN
2019 [YR2019],..,..,..,..,..,2830813507746.87,2715518274227.45,3861123558039.21,5064872875604.59,21433224697000,...,66836327,67248926,83092962,126264931,328329953,NaN,NaN,NaN,NaN,NaN
2020 [YR2020],..,..,..,..,..,2707743777173.91,2603004395901.95,3806060140124.52,..,20936600000000,...,67215293,67391582,83240525,125836021,329484123,NaN,NaN,NaN,NaN,NaN

In [7]:
f=f.rename(columns=f.iloc[0])
f

,CO2 emissions (metric tons per capita),CO2 emissions (metric tons per capita),CO2 emissions (metric tons per capita),CO2 emissions (metric tons per capita),CO2 emissions (metric tons per capita),GDP (current US$),GDP (current US$),GDP (current US$),GDP (current US$),GDP (current US$),...,"Population, total","Population, total","Population, total","Population, total","Population, total",NaN,NaN,NaN,Data from database: World Development Indicators,Last Updated: 07/30/2021
Series Name,CO2 emissions (metric tons per capita),CO2 emissions (metric tons per capita),CO2 emissions (metric tons per capita),CO2 emissions (metric tons per capita),CO2 emissions (metric tons per capita),GDP (current US$),GDP (current US$),GDP (current US$),GDP (current US$),GDP (current US$),...,"Population, total","Population, total","Population, total","Population, total","Population, total",NaN,NaN,NaN,Data from database: World Development Indicators,Last Updated: 07/30/2021
Series Code,EN.ATM.CO2E.PC,EN.ATM.CO2E.PC,EN.ATM.CO2E.PC,EN.ATM.CO2E.PC,EN.ATM.CO2E.PC,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD,...,SP.POP.TOTL,SP.POP.TOTL,SP.POP.TOTL,SP.POP.TOTL,SP.POP.TOTL,NaN,NaN,NaN,NaN,NaN
Country Name,United Kingdom,France,Germany,Japan,United States,United Kingdom,France,Germany,Japan,United States,...,United Kingdom,France,Germany,Japan,United States,NaN,NaN,NaN,NaN,NaN
Country Code,GBR,FRA,DEU,JPN,USA,GBR,FRA,DEU,JPN,USA,...,GBR,FRA,DEU,JPN,USA,NaN,NaN,NaN,NaN,NaN
2011 [YR2011],7.02542460093701,5.10431227537594,9.29779081983736,9.48244975866952,16.599403740534,2659882040934.51,2861408170264.6,3744408602683.94,6157459594823.72,15542581104000,...,63258810,65342789,80274983,127833000,311583481,NaN,NaN,NaN,NaN,NaN
2012 [YR2012],7.33247132682362,5.12231119022055,9.44994992466537,9.81140649852306,15.7711446187591,2704017284861.91,2683825225092.63,3527344944139.83,6203213121334.12,16197007349000,...,63700215,65659814,80425823,127629000,313877662,NaN,NaN,NaN,NaN,NaN
2013 [YR2013],7.06490255865771,5.10055617017218,9.64255894664068,9.89367962650555,16.1029578354008,2783251090198.95,2811077725703.59,3732743446218.92,5155717056270.83,16784849196000,...,64128273,65998685,80645605,127445000,316059947,NaN,NaN,NaN,NaN,NaN
2014 [YR2014],6.42159819144514,4.59237682939366,9.10678232951564,9.58405355290864,16.0263790723251,3065521109394.94,2852165760630.27,3883920155292.26,4850413536037.84,17527163695000,...,64602298,66312067,80982500,127276000,318386329,NaN,NaN,NaN,NaN,NaN
2015 [YR2015],6.14854495774701,4.66608659650847,9.08729093927033,9.29283236721435,15.535342110601,2932784751846.27,2438207896251.84,3356235704119.75,4389475622588.97,18238300569000,...,65116219,66548272,81686611,127141000,320738994,NaN,NaN,NaN,NaN,NaN
2016 [YR2016],5.77474166798541,4.68661220239091,9.0730063894536,9.22394197021634,15.1317468158119,2693247611031.81,2471285607081.72,3467498002104.33,4922538141454.62,18745075687000,...,65611593,66724104,82348669,126994511,323071755,NaN,NaN,NaN,NaN,NaN
2017 [YR2017],5.54626594443601,4.72757562163375,8.85829369906254,9.08563914300274,14.8058824221278,2662484018735.82,2588740901639.81,3673506280844.4,4866864409657.68,19542979183000,...,66058859,66918020,82657002,126785797,325122128,NaN,NaN,NaN,NaN,NaN
2018 [YR2018],5.39870813789348,4.61924120513374,8.55838981170216,8.7422577098865,15.2408745833286,2857316524862.61,2786502569559.77,3961831911429.22,4954806619995.19,20611860934000,...,66460344,67101930,82905782,126529100,326838199,NaN,NaN,NaN,NaN,NaN
2019 [YR2019],..,..,..,..,..,2830813507746.87,2715518274227.45,3861123558039.21,5064872875604.59,21433224697000,...,66836327,67248926,83092962,126264931,328329953,NaN,NaN,NaN,NaN,NaN
2020 [YR2020],..,..,..,..,..,2707743777173.91,2603004395901.95,3806060140124.52,..,20936600000000,...,67215293,67391582,83240525,125836021,329484123,NaN,NaN,NaN,NaN,NaN

In [8]:
f.to_csv('file.csv')